.idea

# Default ignored files
.idea/shelf/
idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
/results/
/results_eval_fever/
/results_eval_mnli/
/results_fever/
/roberta_mnli/
/roberta_fever_mnli/
/logs/
/embeddings/
/hnsw_index/